doctype html
html
    head
        <helmet>
            <script src="https://kit.fontawesome.com/923a609613.js" crossorigin="anonymous"></script>
        </helmet>
        title Wetube
    body
        include ../partials/header
        main
            block content
        include ../partials/footer